[MESSAGES CONTROL]

disable =
    missing-module-docstring,
    too-few-public-methods,
    duplicate-code,
    missing-function-docstring,

[FORMAT]

max-line-length=150

[TYPECHECK]

ignored-modules =
    sqlalchemy,
    strawberry-graphql[cli]

[DESIGN]

max-args=7
max-positional-arguments=7

[BASIC]

module-rgx=[a-zA-Z_][a-zA-Z0-9_]*$
