kcspotifyanalyzer.duckdns.org:9005 {
    reverse_proxy web_server:5000
    encode gzip
    tls {
        dns duckdns {env.DUCKDNS_TOKEN}
    }
    log {
        output file /var/log/caddy/caddy.log
        format console
    }
}
